@font-face {
  font-family: 'Brandon Text';
  src: url(../../../fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: 'Brandon Text';
  line-height: 1.4;
  color: #333;
  /* position: absolute; */
}

.arrowDown {
  fill: none;
  stroke: #737373;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}