@font-face {
  font-family: 'Brandon Text';
  src: url(../../../fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.departments {
  margin: 0 5% 0 0;
  display: inline-block;
  padding-bottom: .5rem;
  position: relative;
  font-family: 'Brandon Text';
  line-height: 1.4;
  color: #333;
}

.departments:hover ~ body :not(#navbar) {
  background-color: paleturquoise;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}

.departments:hover {
  border-bottom: 2px solid #333;
  padding-bottom: 0px;
}