@font-face {
  font-family: 'Brandon Text';
  src: url(../../../fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.search {
  font-family: 'Brandon Text';
  line-height: 1.4;
  color: #333;
  /* position: absolute; */
}

.searchIcon {
  fill: none;
  stroke: #393939;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.searchBoxDiv {
  z-index: 1;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
}

.searchBoxForm {
  display: block;
  position: relative;
  height: 200px;
  width: 250px;
}

.searchBoxForm input {
  width: 240px;
}