.center {
  /* margin: auto; */
  /* width: 98%; */
  /* text-align: center; */
  /* text-align: right; */
  /* position: absolute; */
}

.categoryCenter {
  margin-top: 50px;
  width: 94%;
  z-index: 5;
  top: 55px;
  position: absolute;
}

.departmentsDiv {
  width: 99%;
}