@font-face {
  font-family: 'Brandon Text';
  src: url(../../../fonts/brandon-text.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Bold';
  src: url(../../../fonts/brandon-text-bold.woff2) format('woff2');
  font-style: normal;
}

.divCat {
  height: 500px;
  background-color: #fff;
}

.categories {
  margin: auto;
  /* display: inline-block; */
  font-family: 'Brandon Text Bold';
  font-weight: 400;
  font-size: 95%;
  line-height: 1.4;
  color: #333;
}

.subcategories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Brandon Text';
  font-weight: 300;
  font-size: 90%;
  line-height: 1.4;
  color: #333;
}

.subcategories li {
  margin: 10px 0 10px 0;
}
