@font-face {
  font-family: 'Brandon Text';
  src: url(../../../fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.bagNumber {
  font-size: 85%;
}

.cart {
  color: #333;
  font-family: 'Brandon Text';
  line-height: 1.4;
}

.emptyBag {
  fill: none;
  stroke: #393939;
  stroke-miterlimit: 10;
}

.emptyBagHook {
  fill: none;
  stroke: #393939;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
