@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap');

.cart {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}

.emptyBag {
  fill: none;
  stroke: #393939;
  stroke-miterlimit: 10;
}

.emptyBag1 {
  fill: none;
  stroke: #393939;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.bagNumber {
  
}