@font-face {
  font-family: 'Brandon Text';
  src: url(../../fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  margin: 3% 2% 0 2%;
  padding: 0 2%;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  float: right;
}

.topComp {
  margin: 25px 0 35px 0;
}

.rightComp {
  margin: 0 0 0 20px;
}

/* search box related */

.searchBoxDiv {
  z-index: 6;
  position: absolute;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  right: 9%;
  top: 11%;
}

.searchBoxForm {
  height: 60px;
  width: 405px;
}

.searchBoxForm input {
  width: 370px;
  /* text-align:center; */
  margin: 20px 25px 10px 25px;
  border: 0;
  font-family: 'Brandon Text';
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #333;
  outline-width: 0;
}

.searchBoxForm input ::placeholder {
  color: rgba(51, 51, 51, 0.625);
}

.searchExit {
  z-index: 7;
  float: right;
}

.searchExit path {
  fill: none;
  stroke: #737373;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.searchResults {
  list-style-type: none;
  margin: 0 25px 0 25px;
  padding: 0;
  font-family: 'Brandon Text';
  font-weight: 300;
  font-size: 82%;
  line-height: 1.4;
  color: #333;
}

.searchResults li {
  margin: 10px 0 10px 0;
}

/* account related */

.accountDiv {
  z-index: 6;
  position: absolute;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  width: 250px;
  height: 200px;
  right: 5%;
  top: 11%;
}

.accountDiv ul {
  font-family: 'Brandon Text';
  font-size: 0.8rem;
  line-height: 1.4;
  color: #333;
  list-style: none;
  margin: 0;
  padding: 20px!important;
  text-align: left;
}

.accountDiv ul li {
  margin: 5px 0 20px 0;
}

.accountSignBtn {
  background: #000 none!important;
  border-color: #000;
  color: #fff!important;
  font-weight: 400;
  padding: 10px 85px;
  margin: 0 auto;
}

/* cart related */

.cartDiv {
  z-index: 6;
  position: absolute;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  width: 345px;
  height: 50px;
  right: 5%;
  top: 11%;
}

.cartDivInt {
  padding: 10px 5px 10px 5px;
  /* margin: 0 5px 0 5px; */
  text-align: center;
}

.cartDivInt span {
  font-family: 'Brandon Text';
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
  /* top: 50px; */
}


.departments {
  position: absolute;
  z-index: 5;
}

.overlayDiv {
  background-color:rgba(255, 255, 255, 0.55);
  height: 100%;
  width: 99%;
  position: absolute;
  left:8px;
  top:200px;
  z-index: 25;
  /* color: red; */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(1px);
}

.testImg {
  position: absolute;
  z-index: -1;
}



